@{
    ViewData["Title"] = "My Podcasts";
}

@model DateMe.Models.ApplicationResponse

<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    <p>Link to my podcast:</p>
    <a class="btn btn-primary" href="https://baconsale.com/">baconsale!</a>
</div>